:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(110, 170, 128);
    overflow: hidden;
}

.menu {
    width: 300px;
    height: auto;
    background: #206e38;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px rgba(0, 105, 14, 0.5);
}

.menu .button {
    display:block;
    padding: 1rem;
    border-bottom: solid 1px #95c46f;
    border-top: solid 1px #127aca;
    position: relative;
}

.menu .submenu {
    background: #3c9b49;
    overflow: hidden;
    max-height: 0;
    transition: max-height .8s ease-out;
}

.menu .submenu a {
    display: block;
    padding: 1rem;
    position: relative;
}

.menu .submenu a::before {
    content: '';
    display: block;
    position: absolute;    
    top:0;
    left:0;
    height: 100%;
    width: 5px;
    background:#007226;
    opacity: 0;
    transition: all .5s;
}

.menu .submenu a:hover {
    padding-left: calc(1rem + 15px);
}

.menu .submenu a:hover::before {
    opacity: 1;
}

.option:target .submenu {
    max-height: 20rem;
}